.container {
  display: flex;
  flex-direction: column;
  gap: calc(var(--offset-base-size) * 15);
  width: 580px;
}

.statuses {
  display: flex;
  gap: calc(var(--offset-base-size) * 9);
}

.statusBlock {
  flex: 1;
}

.numbers {
  display: grid;
  grid-template-rows: repeat(10, auto);
  grid-template-columns: repeat(2, min-content);
  grid-auto-flow: column;
  gap: calc(var(--offset-base-size) * 2) calc(var(--offset-base-size) * 4);
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

.done {
  color: var(--colors-interface-success);
}
