.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--offset-base-size) * 6);
}

.link {
  color: var(--colors-interface-accent);
  text-decoration: none;
}
