.burgerConstructor {
  display: flex;
  flex-direction: column;
  width: 600px;
  color: var(--text-primary-color);
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.price {
  display: inline-flex;
}

.icon {
  width: 36px;
  height: 36px;
  margin-inline-start: 9px;
}

.list,
.bun,
.ingredients {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.list {
  align-items: flex-end;
  min-height: 0;
}

.bun,
.ingredients {
  width: 100%;
  scrollbar-gutter: stable;
}

.bun {
  flex-shrink: 0;
  overflow-y: hidden;
}

.ingredients {
  overflow-y: auto;
}

.ingredient {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: calc(var(--offset-base-size) * 2);
}

.ingredient:not(:last-child) {
  padding-bottom: calc(var(--offset-base-size) * 2);
}

.ingredient:not(:first-child) {
  padding-top: calc(var(--offset-base-size) * 2);
}

.dragging {
  opacity: 0;
}
