.page {
  display: flex;
  flex-direction: column;
  width: 1240px;
  margin: 0 auto;
  overflow: hidden;
}

.title {
  width: 100%;
}

.content {
  display: flex;
  gap: calc(var(--offset-base-size) * 15);
}

.orders {
  width: 600px;
}
