.burgerIngredients {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  color: var(--text-primary-color);
}

.sections {
  overflow-y: auto;
}

.sectionIngredients {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: calc(var(--offset-base-size) * 8) calc(var(--offset-base-size) * 6);
}
